<html>
<head>
    <style>
        h1 {
            font-family: Arnoldboecklin, fantasy;
            font-size: 80px;
            color: black;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            font-family: "Courier New", monospace;
            font-size: 20px;
            margin-left: 100px;
            margin-bottom: 0;
            /* text-align: right; */
        }

    </style>
</head>
<p> Welcome to... </p>
<h1>Days of Old </h1>

<%= link_to "Sign Up", "/signup"%>
<%= link_to "Log in", "/login"%>
</html>